

<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

<head>

    <!-- Basic -->
    <title>Tanner Miller | Home</title>

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Page Description and Author -->
    <meta name="description" content="TANNER MILLER - Responsive HTML5 Template">
    <meta name="author" content="Shahriyar Ahmed">

    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/asset/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/asset/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/asset/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/asset/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="~/asset/css/owl.transitions.css" type="text/css">

    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="~/asset/css/animate.css">

    <!-- Lightbox CSS -->
    <link rel="stylesheet" type="text/css" href="~/asset/css/lightbox.css">

    <!-- Sulfur CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/asset/css/style.css">

    <!-- Responsive CSS Style -->
    <link rel="stylesheet" type="text/css" href="~/asset/css/responsive.css">


    <script src="~/asset/js/modernizrr.js"></script>

    <!-- Responsive CSS Style -->
    <link rel="stylesheet" type="text/css" href="~/asset/css/custom.css">
</head>

<body>

    <header class="clearfix">

        <!-- Start Top Bar -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-bar">
                        <div class="row">

                            <div class="col-md-6">
                            </div><!-- .col-md-6 -->

                            <div class="col-md-6">
                                <!-- Start Social Links -->
                                <ul class="social-list">
                                    <li>
                                        <a href="https://www.linkedin.com/in/tanner-miller-dev" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/tmmiller2" target="_blank"><i class="fa fa-github"></i></a>
                                    </li>
                                    @*<li>
                                        <a href="#"><i class="fa fa-skype"></i></a>
                                    </li>*@
                                </ul>
                                <!-- End Social Links -->
                            </div><!-- .col-md-6 -->
                        </div>


                    </div>
                </div>

            </div><!-- .row -->
        </div><!-- .container -->
        <!-- End Top Bar -->
        <!-- Start  Logo & Naviagtion  -->
        <div class="navbar navbar-default navbar-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- Stat Toggle Nav Link For Mobiles -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- End Toggle Nav Link For Mobiles -->
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">TANNER MILLER</a>
                </div>
                <div class="navbar-collapse collapse">

                    <!-- Start Navigation List -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="active" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Resume", "Home")">Resume</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Links", "Home")">Links</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Projects", "Home")">Projects</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home")">Contact</a>
                        </li>
                    </ul>
                    <!-- End Navigation List -->
                </div>
            </div>
        </div>
        <!-- End Header Logo & Naviagtion -->

    </header>


 
    @RenderBody()


<!-- Start Footer Section -->
        <section id="footer-section" class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-heading-2">
                            <h3 class="section-title">
                                <span>My Resume</span>
                            </h3>
                        </div>
                        <div class="subscription">
                            <p>Feel free to download my resume by clicking on the link below!</p>
                            <div class="form-group">
                                <!-- <input type="text" class="form-control" placeholder="Your E-mail" id="name" required data-validation-required-message="Please enter your name."> -->
                                <a href="https://drive.google.com/uc?export=download&id=1pCOuLNHisBISPMR8WfXut3uxMz9XfWqU" target="_blank">Download Resume</a> 
                                <!-- <input type="submit" class="btn btn-primary" value="Download Resume"> -->
                            </div>
                        </div>
                    </div>
                </div><!--/.row -->
            </div><!-- /.container -->
        </section>
        <!-- End Footer Section -->

    <!-- Start CCopyright Section -->
    <div id="copyright-section" class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="copyright">
                        Copyright © 2014. All Rights Reserved.Design and Developed by <a href="http://www.themefisher.com">Themefisher. Customized by Tanner Miller.</a>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="copyright-menu pull-right">
                        <ul>
                            <li><a class="active" href="@Url.Action("Index", "Home")">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div><!--/.row -->
        </div><!-- /.container -->
    </div>
    <!-- End Copyright Section -->

    <!-- Sulfur JS File -->
    <script src="~/asset/js/jquery-2.1.3.min.js"></script>
    <script src="~/asset/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/asset/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/asset/js/owl.carousel.min.js"></script>
    <script src="~/asset/js/jquery.appear.js"></script>
    <script src="~/asset/js/jquery.fitvids.js"></script>
    <script src="~/asset/js/jquery.nicescroll.min.js"></script>
    <script src="~/asset/js/lightbox.min.js"></script>
    <script src="~/asset/js/count-to.js"></script>
    <script src="~/asset/js/styleswitcher.js"></script>


    <script src="~/asset/js/script.js"></script>

    <!-- Added script for Active page -->
    <script>

        //For each <li> in the <nav class="menu">, apply the following function

        $('.menu li').each(function () {

            //If the <a> tag inside a <li> is linked to the current URL

            if ( $(this).find('a').attr('href') == window.location.pathname) {

                //Add the "active" class to the <a> tag

                $(this).addClass('active');

            }

        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>